body {
    padding-top: 50px;
    padding-bottom: 20px;
}


pre {
    font-size: 16px;
    white-space: pre-wrap; /* Since CSS 2.1 */

    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: normal !important;
    font-size: 12px;
}



.col-md-2 {
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    text-transform: none;
    color: #5c5a5a;
}

a:hover{
    color: #e25151;
}

.visible {
    display: block;
}

.invis {
    display: none;
}

.container {
    margin-top: 20px;
}

.page {
    display: none;
}

.page-active {
    display: block;
}
