@model OAA.Data.Artist
@{
    ViewData["Title"] = "Artist";
}


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <main>
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">Artist</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2" class="top_tracks">Top Music</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3" class="top_albums">Top album</label>


        <input id="tab4" type="radio" name="tabs">
        <label for="tab4" class="similar" type="radio" name="tabs">Similar</label>

        <input id="name_a" type="hidden" value="@Model.Name"/>

        <section id="content1">
            <h2 id="name" class="text-center">@Model.Name</h2>
            <div class="col-md-3">
                <img class="photo-artist" src="@Model.Photo" style="width : 90%" />
            </div>
            <div class="col-md-9">
                <pre>@Model.Biography</pre>
            </div>
        </section>
        <section id="content2">
            <div class="tracks container"></div>
        </section>
        <section id="content3">
            <div class="albums"></div>
        </section>
        <section id="content4" class="similar">
            <div class="artist" style="margin-top: 50px"></div>
        </section>

    </main>


</body>

