@model List<OAA.Data.Artist>


    @foreach (var person in Model)
    {
        <a class="col-md-2 artist-padding" href="/Home/GetArtist?name=@person.Name">
            <div class=" artist-list">
                <img src="@person.Photo" title = "@person.Name" style="width: 100%; cursor: pointer" />
                <h4 class="text-center">@person.Name</h4>
            </div>
        </a>

    }