@model List<OAA.Data.Artist>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>


    @foreach (var person in Model)
    {
        <a href="/Home/GetArtist?name=@person.Name">
            <div class="col-md-2 artist-list" style="margin: 30px; padding: 0px;">
                <img src="@person.Photo" title = "@person.Name" style="width: 100%; cursor: pointer" />
                <h4 class="text-center">@person.Name</h4>
            </div>
        </a>

    }