@model List<OAA.Data.Artist>
@{
    ViewData["Title"] = "Index";
}
<div id="data" class="data" style="margin-top: 50px">

    <h2 class="text-center" style="margin: 25px;">TOP Artist</h2>
    <div style="display: flex; margin: 10px">
        <h5 style="float: right">Display by:    </h5>
        <button class="12 btn btn-default">12</button>
        <button class="24 btn btn-default">24</button>
        <button class="36 btn btn-default">36</button>
    </div>

    <div id="artist" class="artist">
        @Html.Partial("GetPage")
    </div>
</div>

<div class="container">
    <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination" style="margin-left: 20%"></ul>
    </nav>
</div>
